input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  input[type="text"].error {
    border-color: red;
    border-width: 2px;
    outline: none;
  }
  
  .error {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
  }
  